<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlantPal</title>
  </head>
  <body>
    <h1>Welcome to PlantPal</h1>
    <p>An app for plant lovers to keep track of their indoor plants.</p>
     <p>-what they are, when they were last watered, and how to care for them-</p>
  </body>
</html>
