<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>PlantPal</title>
  </head>
   <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">🌿 Welcome to PlantPal</h1>
          <p class="subtitle is-4">
            An app for plant lovers to keep track of their indoor plants.
          </p>
          <p class="is-5">
            — what they are, when they were last watered, and how to care for them —
          </p>

          <a href="/plants" class="button is-primary is-medium mt-5">View Your Plants</a>
        </div>
      </div>
    </section>
  </body>
</html>
