
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Inventory  </title>
    <a href="/plants">Search for a plant</a>
    <a href="/plants/new">Add New Plant</a>
    <a href="/plants/">Back to Plants</a>
  </head>
  <body>
    <h1>All Plants</h1>
  <ul>
    <% plants.forEach(plant => { %>
      <li><a href="/plants/<%= plant._id %>"><%= plant.name %></a></li>
    <% }); %>
  </ul>

  </body>
</html>
